.DS_Store
.build
Packages
xcuserdata
DerivedData
.swiftpm
.netrc
.vscode
Package.resolved
__BenchmarkBoilerplate.*
Aria.*
Attributes.*
ChildOf.*
DebugRender.*
DebugXmlRender.*
Elements.*
Events.*
Html4.*
HtmlRender.*
MediaType.*
Node.*
Tag.*
Tags.*
XmlRender.*