.DS_Store
.build
Packages
xcuserdata
DerivedData
.swiftpm
.netrc
.vscode
Package.resolved
__BenchmarkBoilerplate.*
Aria.*
Attributes.*
ChildOf.*
DebugRender.*
DebugXmlRender.*
Elements.*
Events.*
EncodingTests.d
EncodingTests.o
EncodingTests.swiftdeps*
EscapeHTMLTests.d
EscapeHTMLTests.o
EscapeHTMLTests.swiftdeps*
HTMX.d
HTMX.o
HTMX.swiftdeps*
HTMXTests.d
HTMXTests.o
HTMXTests.swiftdeps*
Html4.*
HtmlRender.*
MediaType.*
Node.*
Tag.*
Tags.*
XmlRender.*
InterpolationLookup.d
InterpolationLookup.o
InterpolationLookup.swiftdeps*
LiteralElements.d
LiteralElements.o
LiteralElements.swiftdeps*