.DS_Store
.build
Packages
xcuserdata
DerivedData
.swiftpm
.netrc
.vscode
Package.resolved
__BenchmarkBoilerplate.d
__BenchmarkBoilerplate.o
__BenchmarkBoilerplate.swiftdeps
__BenchmarkBoilerplate.swiftdeps~
Tag.d
Tag.o
Tag.swiftdeps
Tags.d